<table mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="location">
    <th mat-header-cell *matHeaderCellDef class="location-cell">Location</th>
    <td mat-cell *matCellDef="let element" class="location-cell">
      {{element.location}}
    </td>
  </ng-container>
  <ng-container matColumnDef="city">
    <th mat-header-cell *matHeaderCellDef class="city-cell">City</th>
    <td mat-cell *matCellDef="let element" class="city-cell">{{element.city}}</td>
  </ng-container>
  <ng-container matColumnDef="country">
    <th mat-header-cell *matHeaderCellDef class="country-cell">Country</th>
    <td mat-cell *matCellDef="let element" class="country-cell">{{element.country}}</td>
  </ng-container>
  <ng-container matColumnDef="measurements">
    <th mat-header-cell *matHeaderCellDef class="measurements-cell">Measurements</th>
    <td mat-cell *matCellDef="let element" class="measurements-cell">
      <div>
        <div *ngFor="let measurement of element.measurements">
          <span>{{measurement.parameter}}</span>
          <span>{{measurement.value}}</span>
          <span>{{measurement.unit}}</span>
        </div>
      </div>
    </td>
  </ng-container>
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef class="date-cell">Date</th>
    <td mat-cell *matCellDef="let element" class="date-cell">{{element.date | date : 'short'}}</td>
  </ng-container>

  <ng-container matColumnDef="noData">
    <td class="text-align-center" mat-footer-cell *matFooterCellDef [attr.colspan]="columns.length">
      No records found.
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columns"></tr>
  <tr mat-row *matRowDef="let row; columns: columns;" (click)="click(row)"></tr>

  <tr mat-footer-row *matFooterRowDef="['noData']" [hidden]="dataSource.length !== 0"></tr>
</table>


<ng-template>
  <div></div>
</ng-template>