<form [formGroup]="filterForm">
    <mat-form-field appearance="outline">
        <mat-label>Country</mat-label>
        <mat-select formControlName="country">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let country of countries" [value]="country">
                {{country}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    
    <mat-form-field appearance="outline">
        <mat-label>City</mat-label>
        <mat-select formControlName="city">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let city of cities" [value]="city">
                {{city}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</form>
