<form [formGroup]="filterForm">
    <mat-form-field appearance="outline">
        <mat-label>Country</mat-label>
        <input type="text" placeholder="Pick one" 
                aria-label="countries" 
                matInput [matAutocomplete]="auto"
                formControlName="country">
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let country of countries" [value]="country">
                {{country}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
    
    <mat-form-field appearance="outline">
        <mat-label>City</mat-label>
        <input type="text" 
            placeholder="Pick one" 
            aria-label="cities" 
            matInput [matAutocomplete]="auto"
            formControlName="city">
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let city of cities" [value]="city">
                {{city}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</form>
