.component-container {
    margin: 0 auto;
}

@media (max-width: 767px) {
    .component-container {
        width: 95vw;
    }
}

@media (min-width: 768px) and (max-width: 1365px) {
    .component-container {
        width: 70vw;
    }
}

@media (min-width: 1366px) {
    .component-container {
        width: 60vw;
    }
}

.row {
    border: 0.5px solid rgb(175, 172, 172);
    margin: 5px 5px;
    border-radius: 5px;

    display: flex;

    &:hover {
        border: 2px solid #3f51b5;
    }
}

.location-row {
    display: flex;
    flex-wrap: wrap;

    .data-container {
        margin: 5px;
        min-width: 64px;
        
        .property-name {
            font-size: 11px;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.measurement-row {
    display: flex;
    flex-wrap: wrap;

    .data-container {
        margin: 5px;
        font-variant: small-caps;

        span.unit {
            margin: 0.5em;
        }
    }
}

.bottom {
    display: flex;
    justify-content: center;
    margin-top: 15vw;
    margin-bottom: 15vw;
    font-size: 2em;
}
